* {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 5rem;
    font-family: 'Open Sans', sans-serif;
    line-height: 2rem;
}

.logo-image {
    width: 100%;
    background-size: contain;
}

.p-margin {
    margin: 0 0 0 -15px;
}

.p-special {
    margin: -10px 0 0 -20px;
}

.logo-container {
    max-width: 6.25em;
}

hr.dropdown-divider {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: #0a0a0a;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr.dropdown-divider:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: #000000;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
}
.form__field {
    text-align: center;
    font-family: inherit;
    border: 0;
    border-bottom: 2px solid #c9c7c7;
    outline: 0;
    color: #9b9b9b;
    /* padding: 7px 0; */
    background: transparent;
    transition: border-color 0.2s;
}
.form__field::placeholder {
    color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
    cursor: text;
    top: 20px;
}
.form__label {
    position: absolute;
    top: 0;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
}
.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #991111, #ef3838);
    border-image-slice: 1;
}
.form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight: 700;
}
/* reset input */
.form__field:required, .form__field:invalid {
    box-shadow: none;
}

@media only screen and (max-width: 767px) {
    .d-flex {
        justify-content: center !important;
    }

    .emart-con {
        display: flex;
        justify-content: center;
        margin-bottom: 4rem;
    }
  }